* {
  box-sizing: border-box;
}

//Animation
@keyframes in {
  from {
    left: 0;
    width: 0; 
  }
  to {
    left: 0;
    width: 100%; 
  } 
}

@keyframes out {
  from {
    right: 0;
    width: 100%;
  }
  to { 
    right: 0;
    width: 0; 
  } 
}

@keyframes clockwise {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes counterclockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

//Typography
h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    font-size: 24px;
    padding: 5px;
  }
}

.icon {
  margin: 0 5px;
}

//Navbar 
#navbar {
  padding: 10px;
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  z-index: 1;
  h2 a {
    text-decoration: none;
    color: #000;
  }
  .add-product {
    animation: counterclockwise 1s;
  }
  .add-product:hover {
    animation: clockwise 1s;
  }
}

.menu {
  background: #fff;
  position: fixed;
  top: 53px;
  height: 100%;
  overflow: hidden;
  transition: width .5s ease-in-out;
  width: 0;
  z-index: 2;
  h1 {
    font-size: 150px;
    margin: 0 0 0 10px;
  }
  ul {
    width: fit-content;
    margin-left: 10px;
    li {
      position: relative;
    }
    li.active::after {
      animation: in 1s forwards;
    }
    li::after{
      content: '';
      position: absolute;
      bottom: 0;
      height: 2px;
      background: #000;
      animation: out 1s;
    }
    li:hover::after {
      animation: in 1s forwards;
    }
  }
  &.active {
    width: 95%;
    border-right: 1px solid;
  }
}

.products-container {
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
  position: relative;

  .product {
    border-radius: 8px;
    padding: 50px;
    margin: 10px;
    width: 400px;
    height: 300px;
    transition: box-shadow .5s;
    &:hover {
      box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 50%);
    }
  }
}

.active-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  top: 53px;
  margin: 0px auto;
  width: 50%;
  height: 0;
  overflow: hidden;
  z-index: 1;
  transition: height .5s;
  &.show {
    border: 1px solid;
    border-top: none;
    height: 300px;
    .footer {
      display: block;
    }
  }
  .active-product {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    height: 100%;
    overflow-y: scroll;
    .product-description {
      display: flex;
      flex-direction: column;
      width: 50%;
      h1 {
        margin-top: 0;
      }
      h4 {
        margin: 0;
        display: flex;
        align-items: center;
      }
      .action-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        button {
          margin: 0;
          padding: 0;
          border: none;
          background: none;
        }
      }
    }
  }
  .footer {
    display: none;
    text-align: center;
  }
}

form {
  width: 25%;
}
.add-product-container {
  background: #fff;
  position: fixed;
  top: 53px;
  right: 0;
  height: 100%;
  overflow: hidden;
  transition: width .5s ease-in-out;
  width: 0;
  margin-left: auto;
  z-index: 1;
  &.active {
    width: 95%;
    border-left: 1px solid;
  }
  h1 {
    font-size: 150px;
    margin:  0 0 0 10px;
    white-space: nowrap;
  }
  .field-container {
    margin-left: 10px;
    h4 {
      margin: 0;
    }
    .field {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;
      input, textarea {
        height: 32px;
        min-height: 32px;
        max-width: 164px;
        min-width: 164px;
      }
    }
  }
  .add-button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: auto;
  }
}
