* {
  box-sizing: border-box;
}

@keyframes in {
  from {
    left: 0;
    width: 0;
  }
  to {
    left: 0;
    width: 100%;
  }
}
@keyframes out {
  from {
    right: 0;
    width: 100%;
  }
  to {
    right: 0;
    width: 0;
  }
}
@keyframes clockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes counterclockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  font-size: 24px;
  padding: 5px;
}

.icon {
  margin: 0 5px;
}

#navbar {
  padding: 10px;
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  z-index: 1;
}
#navbar h2 a {
  text-decoration: none;
  color: #000;
}
#navbar .add-product {
  animation: counterclockwise 1s;
}
#navbar .add-product:hover {
  animation: clockwise 1s;
}

.menu {
  background: #fff;
  position: fixed;
  top: 53px;
  height: 100%;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  width: 0;
  z-index: 2;
}
.menu h1 {
  font-size: 150px;
  margin: 0 0 0 10px;
}
.menu ul {
  width: fit-content;
  margin-left: 10px;
}
.menu ul li {
  position: relative;
}
.menu ul li.active::after {
  animation: in 1s forwards;
}
.menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #000;
  animation: out 1s;
}
.menu ul li:hover::after {
  animation: in 1s forwards;
}
.menu.active {
  width: 95%;
  border-right: 1px solid;
}

.products-container {
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
  position: relative;
}
.products-container .product {
  border-radius: 8px;
  padding: 50px;
  margin: 10px;
  width: 400px;
  height: 300px;
  transition: box-shadow 0.5s;
}
.products-container .product:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.active-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  top: 53px;
  margin: 0px auto;
  width: 50%;
  height: 0;
  overflow: hidden;
  z-index: 1;
  transition: height 0.5s;
}
.active-container.show {
  border: 1px solid;
  border-top: none;
  height: 300px;
}
.active-container.show .footer {
  display: block;
}
.active-container .active-product {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  height: 100%;
  overflow-y: scroll;
}
.active-container .active-product .product-description {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.active-container .active-product .product-description h1 {
  margin-top: 0;
}
.active-container .active-product .product-description h4 {
  margin: 0;
  display: flex;
  align-items: center;
}
.active-container .active-product .product-description .action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.active-container .active-product .product-description .action-buttons button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.active-container .footer {
  display: none;
  text-align: center;
}

form {
  width: 25%;
}

.add-product-container {
  background: #fff;
  position: fixed;
  top: 53px;
  right: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  width: 0;
  margin-left: auto;
  z-index: 1;
}
.add-product-container.active {
  width: 95%;
  border-left: 1px solid;
}
.add-product-container h1 {
  font-size: 150px;
  margin: 0 0 0 10px;
  white-space: nowrap;
}
.add-product-container .field-container {
  margin-left: 10px;
}
.add-product-container .field-container h4 {
  margin: 0;
}
.add-product-container .field-container .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.add-product-container .field-container .field input, .add-product-container .field-container .field textarea {
  height: 32px;
  min-height: 32px;
  max-width: 164px;
  min-width: 164px;
}
.add-product-container .add-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: auto;
}

/*# sourceMappingURL=App.css.map */
